<body onLoad="setSize()" >
<style>
.preview { width: 10% }
form { display: inline-block; }
input { width: 100px } 
</style>
<p>
<form id="user">
Gyprock - Generating <input id="width" type="number">x<input id="height" type="number"></form> wallpapers, just for you <span id="feedback">&lt;3</span>
</p>

<% @wallpapers.each do |w| %>
<a href="javascript:getWallpaper(<%= w %>)">
	<img src="<%= js_base_image w %>" class="preview">
</a>
<% end %>


<script>
var w, h

function setSize () { 
	w = window.screen.width
	h = window.screen.height

	user_width = document.forms["user"]["width"]
	user_height = document.forms["user"]["height"]

	if (user_width.value === "") { user_width.value = w }
	if (user_height.value === "") { user_height.value = h }
}


function getWallpaper(id) { 
	width = document.forms["user"]["width"].value || w
	height =  document.forms["user"]["height"].value || h

	if ((width === parseInt(width).toString()) && (height === parseInt(height).toString()))  {
		window.location.href = "wallpaper/"+id+"/"+width+"/"+height
	} else { 
		document.getElementById("feedback").innerHTML=". Come on now, Jack, just use sensible integers"
	}
} 

</script>
</body>
