<html>
<head>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
</head>
<style>
@font-face {
	font-family:'PT Sans';
	src:local('PT Sans'), local('PTSansRegular'),
		url(fonts/PTSans.ttf) format('truetype'),
		url(fonts/PTSans.svg#PTSans-Regular) format('svg');
	}


body {
	font:24px 'PT Sans', sans-serif;
}
.form-inline {
    min-width: 0;
    width: auto;
    display: inline;
}
.img { padding: 5px }
.blackmetal { padding: 10px}
.blackmetal a { color: #111 } 
.di_input { width: 3em }
.modal-body { font-size: 14px }
dd { margin-bottom: 20px; }
</style>

<body>

<div class="jumbotron">
	<div class="container">
		<h1>Gyprock</h1>
		<form id="user" class="form-inline">
		Generating <span id="dynoform"></span> wallpapers, just for you. <span id="message"></span>
		</form>
	</div>
</div>
<div class="container">
	<form id="hides"><input type="hidden" id="w" /><input type="hidden" id="h"/></form>
	<div class="row marketing">
		<div class="col-lg-12">
		<p align="center">
			<% @wallpapers.each do |w| 
				%><a href="javascript:getWallpaper('<%= w %>')"><img src="<%= js_base_image w %>" class="img img-circle"></a>
			<% end %>
		</p>
		</div>
	</div>
	<blockquote class="blockquote-reverse blackmetal">
		<p>
		by <a href="http://glasnt.com">glasnt</a> |
		<a href="http://github.com/glasnt/gyprock"><i class="fa fa-github-square"></i></a> | 
		<a href="http://twitter.com/glasnt"><i class="fa fa-twitter"></i></a> |  
		<a href="#halp" data-toggle="modal" data-target="#halp">Halp?</a>
		</p>
	</blockquote>	
</div>

<div class="modal fade" id="halp" tabindex="-1" role="dialog" aria-labelledby="halpLabel" aria-hidden="true">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">What's going on?</h4>
</div>
<div class="modal-body">
	<p>Click any one of the image previews to get a wallaper for your current resolution.<p>
	<br/>
	<dt>Want a different resolution?</dt><dd> Click the current resolution, and change it to your liking.</dd>
		<dt>Where are all these groovy images from?</dt><dd> <a href="http://www.threadless.com">Threadless</a>. You should buy their things</dd>
	<dt>I want to know more!</dt><dd> Check out the <a href="https://www.glasnt.com/pres/gyprock">"Disentangle a new fangled image mangler"</a> talk</dd>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Righto, then!</button>
</div>
</div></div></div>

<script>
var w = document.forms["user"]["width"] || window.screen.width
var h = document.forms["user"]["height"] || window.screen.width

$(function() { 
	finalForm() 
});

function num(i) { 
	return (i.toString() === parseInt(i).toString())
}

function msg(msg, klass) { 
	$("#message").empty().attr("class",klass).append(msg)
}

function getWallpaper(id) { 
	if (num(w) && num(h)) { 
		window.location.href = "wallpaper/"+id+"/"+w+"/"+h
	} else { 
		msg("Input not an integer.", "alert-danger")
	}
} 

function finalForm(){
	(location.hash === "form") ? inputForm() : textForm()
}

function in_vc(_id, _value) { 
	return $("<input/>", {id: _id,  type: "number", value: _value, class: "di_input"})
}

function rs_dv(id) {
	var nf = "innerDyno";
	$(id).empty().append($("<span>", { id: nf, style: 'display:inline-flex'}))
	return "#"+nf
}

function loadNew() { 
	w =  document.forms["user"]["width"].value || w
	h =  document.forms["user"]["height"].value || h
	document.forms["hides"]["w"] = w
	document.forms["hides"]["h"] = h
} 

function inputForm() { 
	$(rs_dv("#dynoform")).append(in_vc("width", w))
			     .append($("<span>").append("x"))
			     .append(in_vc("height", h))
			     .append($("<button>", { class: "btn btn-sm", onclick: "loadNew(); textForm()"}).append($("<i>", {class:"fa fa-check"})))

	location.hash = "form"
}
function textForm() { 
	$(rs_dv("#dynoform")).attr("data-toggle","tooltip")
		       .attr("data-placement","bottom")
		       .attr("title","Is this wrong? Click to edit")
		       .click(function() { inputForm()})
		       .append("<span id='width' >"+w+"</span>")
		       .append("x")
		       .append("<span id='height'>"+h+"</span>")

	$('[data-toggle="tooltip"]').tooltip()

	location.hash = ""
}


</script>
</body>
</html>
